#house {
    width: 500px;
    height: 400px;
    position: relative;
    border: 3px solid #a37447;
    background-color: #406265;
}

#roof {
    position: absolute;
    top: 0;
    width: 500px;
    background-color: beige;
    border: 1px dashed brown;
    height: 150px;
}

#chimney {
    position: absolute;
}

#window-1 {
    position: absolute;
    top: 163px;
    left: 30px;
    width: 100px;
    height: 150px;
    background-color: #a37447;
    border: 2px solid black;
}

#window-2 {
    position: absolute;
    top: 163px;
    right: 30px;
    width: 100px;
    height: 150px;
    background-color: #a37447;
    border: 2px solid black;

}

#door {
    position: absolute;
    top: 209px;
    left: 200px;
    width: 90px;
    height: 190px;
    background-color: gray;
    border: 2px solid #a37447;
}